<h2>Zaloguj się</h2>

<form>
  <div class="mb-3">
    <label for="exampleInputLogin" class="form-label">Login</label>
    <input type="login" class="form-control" id="exampleInputLogin" aria-describedby="loginHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Hasło</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Zapamiętaj mnie</label>
  </div>

<div class="btn btn-success">
  <%= link_to 'Zaloguj', welcome_name_path, :class => "btn btn-success"%>
</div>

</form
