<div id="<%= dom_id booking %>">
  <p>
    <strong>WorkerID:</strong>
    <%= booking.worker.WorkerID %>
  </p>

  <p>
    <strong>DeskID:</strong>
    <%= booking.desk.DeskID %>
  </p>

  <p>
    <strong>Czas rezerwacji:</strong>
    <%= booking.BookingTime %>
  </p>

</div>
